<div class="g-sd1">
    <div class="m-directory">
        <h5 class="ttl">图书分类</h5>
        <ul class="f-cb">

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">小说</span><span class="num">8591</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">经管</span><span class="num">5165</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">成功励志</span><span class="num">2799</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">人文社科</span><span class="num">3784</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">文学</span><span class="num">4872</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">计算机</span><span class="num">2149</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">历史</span><span class="num">1796</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">生活</span><span class="num">1582</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">动漫绘本</span><span class="num">1644</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">传记</span><span class="num">1236</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">杂志</span><span class="num">1562</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">原创文学</span><span class="num">130</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">两性情感</span><span class="num">175</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">自然科学</span><span class="num">605</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">少儿</span><span class="num">1659</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">旅游</span><span class="num">359</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">政治军事</span><span class="num">600</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">艺术</span><span class="num">803</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">法律</span><span class="num">106</span>
                </a>
            </li>

            <li class="itm itm1">
                <a href="" hidefocus="hidefocus">
                    <span class="label">教育</span><span class="num">454</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">外语</span><span class="num">512</span>
                </a>
            </li>

            <li class="itm ">
                <a href="" hidefocus="hidefocus">
                    <span class="label">进口原版</span><span class="num">3959</span>
                </a>
            </li>

        </ul>
    </div>
</div>