<div class="wrap">
    <div class="m-corp">
        <p>
            <a href="/m/" id="go-mobile">手机版</a><span class="u-sep">|</span>
            <script>
                seajs.on('avail', function () {
                    seajs.use('common', function (common) {
                        $('#go-mobile').click(function () {
                            common.delBasicCookie('desktop');
                        });
                    });
                });
            </script>
            <a rel="nofollow" href="">关于我们</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">联系我们</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">商务合作</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">隐私政策</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">服务协议</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">版权声明</a>
        </p>
    </div>
    <div class="m-cprt">
        <p><em>意见反馈</em></p>
        <a class="mail" rel="nofollow" href="" hidefocus="hidefocus">jkdcdlly@sina.com</a>
    </div>
    <ul class="m-sns2">
        <li class="itm"><a rel="nofollow" href="" class="icn-weibo2" title="" target="_blank">新浪微博</a></li>
        <li class="itm">
            <a rel="nofollow" href="" class="icn-weixin" title="" target="_blank">微信公众号</a>
            <div class="m-weixin-pop">
                <p>微信扫一下</p>
                <img src="/static/image/qrcode_for_gh_f67b472a3435_258.jpg" class="m-weixin-pop__pic"/>
            </div>
        </li>
    </ul>
</div>

<script>
    seajs.config({
        base: '/static/lib/',
        debug: '',
        alias: {
// gallery
            'jquery': 'gallery/jquery/1.8.3/jquery-debug',
            'underscore': 'gallery/underscore/1.0/underscore',
// base
            'core': 'viperjs/base/core',
            'base': 'viperjs/base/base',
            'event': 'viperjs/base/event',
            'el': 'viperjs/base/element',
            'config': 'viperjs/base/config',
            'platform': 'viperjs/base/config',
            'util': 'viperjs/base/util',
// widget
            'tpl': 'viperjs/widget/template/tpl',
            'storage': 'duokan/store/1/common/storage/storage',
// project
            'module': 'duokan/store/1/module/module',
            'business': 'duokan/store/1/business',
            'common': 'duokan/store/1/common',
            'request': 'duokan/store/1/common/request/request'
        },
        paths: {
            'base': 'viperjs/base',
            'widget': 'viperjs/widget',
            'patched': 'viperjs/patched/compat',
            'gallery': 'viperjs/gallery',
            'common': 'duokan/store/1/common',
            'module': 'duokan/store/1/module'
        },
        map: [
            [/^(.*\/static\/lib\/.*\.(?:css|js))(?:.*)$/i, '$1?201809261044']
        ],
        preload: [
            this.JSON ? '' : 'gallery/json/1.0.2/json',
            Function.prototype.bind ? '' : 'gallery/es5-safe/es5-safe',
        ]
    });
    (function () {
        var _debug = seajs.config.data.debug;
        if (location.search.indexOf('debug') !== -1
                || location.host.indexOf('debug') == 0) {
            _debug = 'debug';
        }
        if (location.search.indexOf('raw') !== -1
                || location.host.indexOf('raw') == 0) {
            _debug = 'raw';
        }
        if (_debug == 'debug') {
            seajs.config.data.map = [[/page\//i, 'debug/']];
        }
        switch (_debug) {
            case 'debug':
            case 'dev':
                seajs.config({preload: ['duokan/store/1/core-debug.js']});
                break;
            case 'raw':
                seajs.config({preload: ['jquery']});
                break;
            default:
                seajs.config({preload: ['duokan/store/1/core.js']});
        }
    })();
    seajs.use('jquery', function () {
        seajs.emit('avail');
    });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122109396-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122109396-2');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9656171793818978",
          enable_page_level_ads: true
     });
</script>