<div class="wrap">
    <div class="m-corp">
        <p>
            <a href="/m/" id="go-mobile">手机版</a><span class="u-sep">|</span>
            <script>
                seajs.on('avail', function () {
                    seajs.use('common', function (common) {
                        $('#go-mobile').click(function () {
                            common.delBasicCookie('desktop');
                        });
                    });
                });
            </script>
            <a rel="nofollow" href="">关于我们</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">联系我们</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">商务合作</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">隐私政策</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">服务协议</a>
            <span class="u-sep">|</span>
            <a rel="nofollow" href="">版权声明</a>
        </p>
    </div>
    <div class="m-cprt">
        <p><em>意见反馈</em></p>
        <a class="mail" rel="nofollow" href="" hidefocus="hidefocus">jkdcdlly@sina.com</a>
    </div>
    <ul class="m-sns2">
        <li class="itm"><a rel="nofollow" href="" class="icn-weibo2" title="" target="_blank">新浪微博</a></li>
        <li class="itm">
            <a rel="nofollow" href="" class="icn-weixin" title="" target="_blank">微信公众号</a>
            <div class="m-weixin-pop">
                <p>微信扫一下</p>
                <img src="/static/image/qrcode_for_gh_f67b472a3435_258.jpg" class="m-weixin-pop__pic"/>
            </div>
        </li>
    </ul>
</div>
