<!-- 导航盖层 -->
<div class="m-quicknav-cnt" id="quicknav" style="display:none;">
    <div class="m-nav" data-widget="app/view/login">
        <table>
            <tr>
                <td><a href="/m/list/1/" class="itm free"><em></em></a>图书列表</td>
                <td><a href="javascript:void(0);" class="itm catagory"><em></em></a>分类</td>
            </tr>
        </table>
    </div>
</div>
<!-- 搜索盖层 -->
<div class="m-search-form" id="search-form" style="display:none" data-widget="app/view/search">
    <a href="javascript:void(0);" class="close j-close"><b class="u-icn-close" onclick="showsearchBook()"></b></a>
    <div class="form">
        <input class="j-search-input" type="text" placeholder="输入书名或作者…"/>
        <a href="javascript:void(0)" class="u-icn-search2 j-search"></a>
    </div>
    <div class="m-hotsearch j-hotsearch">
        <h4><p>大家都在搜…</p></h4>
        <ul class="u-list-col1">

            <li><a href="javascript:void(0)" hidefocus="hidefocus">你和我的倾城时光（全集）</a></li>

            <li><a href="javascript:void(0)" hidefocus="hidefocus">将夜（全集）</a></li>

            <li><a href="javascript:void(0)" hidefocus="hidefocus">原来你还在这里（全二册）</a></li>

            <li><a href="javascript:void(0)" hidefocus="hidefocus">创业时代</a></li>

            <li><a href="javascript:void(0)" hidefocus="hidefocus">凉生，我们可不可以不忧伤（全五册）</a></li>

        </ul>
    </div>
    <div class="m-searchlist j-searchlist" style="display:none;">
        <ul class="u-list-col1 j-search-list">
        </ul>
    </div>
</div>
