<div class="m-cprt">
    <p>
        <a href="/" id="go-desktop">电脑版</a>
    </p>
</div>

<script>
    function showquicknav() {
        var div1 = document.getElementById("quicknav");
        style_val = div1.style.display;
        if ("none" == style_val) {
            div1.style.display = "block";
        } else {
            div1.style.display = "none";
        }
    }

    function showsearchBook() {
        var div_body = document.getElementById("body");
        var search_form = document.getElementById("search-form");
        style_val = search_form.style.display;
        if ("none" == style_val) {
            div_body.style.display = "none";
            search_form.style.display = "block";
        } else {
            div_body.style.display = "block";
            search_form.style.display = "none";
        }

    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122109396-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122109396-2');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9656171793818978",
          enable_page_level_ads: true
     });
</script>