<meta name="author" content="bbgo321"/>
<meta charset="utf-8"/>
<meta property="wb:webmaster" content="614a83f3edbfc3be"/>
<link type="text/css" rel="stylesheet" href="/static/css/global.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
<script src="/static/javascript/sea.js"></script>
<script>
    // FIXME 临时解决方案
    window.onLoadImg = function (evt) {
        evt.style.display = 'block'
    };
    window.closeNick = false;
    // error log
    if (location.host.indexOf('www') == 0 || !0) {
        var ERROR_URL = 'http://clientstat.duokan.com/d.gif';

        function logError(sev, msg) {
            var img = new Image();
            img.src = ERROR_URL + '?sev=' + encodeURIComponent(sev) + '&msg=' + encodeURIComponent(msg);
        }

        window.onerror = function (msg, url, line) {
            var _msg = '{"msg":"' + msg + '","u":"' + url + '","line":"' + line + '"}';
            logError('global', _msg);
            return false;
        };
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122109396-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-122109396-2');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9656171793818978",
        enable_page_level_ads: true
    });
</script>
<script src="/static/javascript/media.js"></script>
<script src="/static/javascript/respond.src.js"></script>