<!DOCTYPE html>


<html lang="zh-CN">
<head>
    <title>提供免费电子书下载、分享。包括mobi、epud、pdf、txt格式，kindle电子书下载 - bbgo下载</title>
    <meta charset="utf-8"/>
    <meta name="author" content="duokan"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


    <meta name="keywords" content="mobi下载,epud下载,pdf下载,txt格式下载,kindle下载,电子书下载"/>
    <meta name="description"
          content="提供精品正版电子书免费下载和购买；支持Android、iPhone、iPad、Kindle等多种设备。享受精品阅读时光。好书，你值得多看。"/>

    <link type="text/css" rel="stylesheet" href="/static/css/m_style.css"/>
    <script src="/static/javascript/921113d72f32ff2c52f4171536750339.js" data-no-instant></script>
    <!-- <script src="/static/javascript/921113d72f32ff2c52f4171536750339.js,viperjs/instantclick/2.1.0/instantclick.js" data-no-instant></script> -->
    <script src="/static/javascript/seajs-config.js" data-no-instant></script>

    {#    <script type="text/javascript">document.domain = 'duokan.com';</script>#}
    <script>
        window.onLoadImg = function (evt) {
            evt.style.display = 'block'
        };
        try {
            var buyJump = localStorage.getItem('wap_reader_buying_jump');
            if (buyJump) {
                localStorage.removeItem('wap_reader_buying_jump');
                location.href = buyJump;
            }
        } catch (ex) {
        }
    </script>
</head>
<body id="mobile-duokan-com" data-action="app/action/app">
<div class="g-doc">
    <header class="g-hd">

        <div class="m-hd">
            <ul class="m-pagenav f-cb">
                <li class="itm u-back" id="goback" data-action-run="goBack" onclick="window.location.href='/m/'">
                    <div class="icn-arrow icn-arrow-left">
                        <span class="arrow0"></span>
                        <span class="arrow1"></span>
                    </div>
                </li>
                <li class="u-sep"><b></b></li>
                <li class="itm"><h1>图书列表</h1></li>
            </ul>
            <div class="act f-cb">

                <div class="m-quicknav" data-action-run="quickNav">
                    <a href="javascript:void(0);" onclick="showquicknav()"><b class="icn-quicknav"></b></a>
                </div>
                <div class="m-search" data-action-run="searchBook">
                    <a href="javascript:void(0);" class="search"><b class="u-icn-search" onclick="showsearchBook()"></b></a>
                </div>
            </div>
        </div>
    </header>
    <div class="g-bd" id="body">

        <!-- 图书列表展示 -->
        <div class="m-category-list">
            <ul class="u-list-col1">
                {% for book in book_list %}
                    <li class="u-bookitm j-bookitm" book_id="{{ book.book_id }}">
                        <a href="/m/detail/1/{{ book.book_title }}" class="book">
                    <span class="cover">
                    <img src="{{ book.book_img }}" alt="" ondragstart="return false;"
                         oncontextmenu="return false;"
                         onload="onLoadImg(this)" style="display:none"/>
                        </span>
                            <div class="info">
                                <h3 class="title">{{ book.book_title }}</h3>
                                <p class="author">
                                    <span>{{ book.book_author }}</span>
                                </p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>


            <div class="u-page">
                <a href="/m/list/{{ pre_page_num }}/" class="u-btn {% if cur_page_num==1 %}init{% endif %}"
                   hidefocus="hidefocus">上一页</a>
                <span class="num">第{{ cur_page_num }}/{{ total_page_num }}页</span>
                <a href="/m/list/{{ next_page_num }}/"
                   class="u-btn {% if cur_page_num==total_page_num %}init{% endif %}" hidefocus="hidefocus">下一页</a>
            </div>

            <!--u-page-->
        </div>

    </div>
    {% include "m_ceng.html" %}
    <div class="g-ft">
        {% include "m_footer.html" %}
    </div>

</div>

</body>
</html>
